<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Trent
          <span class="text-primary">Alonzo</span>
        </h1>
        <div class="subheading mb-5">Miami, FL · (305) 546-3820 ·
          <a href="mailto:name@email.com">Talon011@fiu.edu</a>
        </div>
        <p class="lead mb-5">Born and raised in Miami with Jamaican and Trinidadian parents. Currently studying Computer Science at Florida International University. This page will help you learn a litle bit more about me.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/trent-alonzo-044491b8/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/TrentCodes">
            <i class="fab fa-github"></i>

          </a>
          <a href="https://www.facebook.com/trent.alonzo">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>


        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Online Sales Coordinator</h3>
            <div class="subheading mb-3">Export Depot</div>
            <p>Handled all online sales and transactions. Collected marketing data on all sales in order to better understand what customers were looking for.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July 2018 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Junior Site Coordinator</h3>
            <div class="subheading mb-3">Cambridge Diagnostics</div>
            <p>Sold software to medical physicians that streamlined their appointment making and diagnosing processes. 	Established and maintained a working relationship with over twenty medical physicians.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2014 - Janurary 2015</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Loan Originator</h3>
            <div class="subheading mb-3">Cambridge Merchant Capital Group</div>
            <p>Sold loans to medical physicians for use in the expansion of practices and updating of medical equipment.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2013 - March 2014</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Florida International University</h3>
            <div class="subheading mb-3">Bachelor of Science</div>
            <div>Computer Science - Software Design Track</div>

          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2013 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Greater Miami Adventist Academy</h3>
            <div class="subheading mb-3">Private School</div>

          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2009 - May 2013</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>



        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Java and Javascript</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Ruby and Ruby on Rails</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            C and C++</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>A big interest of mine has even since I was little are cars. From Lamborghini, Ferrari, Mclaren all the way to everyday cars. I've always loved upgrading and working on them. In addition I love spending time with friends and going on adventures.</p>
        <p class="mb-0">When forced indoors, movies are my go to pass time. Personally I love action movies but I'll watch pretty much anything. I also love mountain biking, swimming, and hiking.</p><br>
        <p>Another love of mine is animals. My favorite animal being chinchillas. Currently I have a dog, python, green anole lizard, and a turtle.</p>
      </div>
    </section>

    <hr class="m-0">




      </div>
    </section>

  </div>
